name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true

      - uses: actions/setup-java@v2.3.1
        with:
          java-version: '17'

      - run: chmod +x ./gradlew 
      - run: ./gradlew assemble
      - run: ./gradlew check
      - run: ./gradlew buildPlugin
      - run: ./gradlew publishPlugin
        env:
          ORG_GRADLE_PROJECT_intellijPublishToken: ${{ secrets.ORG_GRADLE_PROJECT_intellijPublishToken }}
